{%extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1> Обо мне </h1>
<p> Всем привет! Почемы я програмирую? Потому что я хочу и люблю </p>
<div class ='rom justify-content-center'>
          <div class ='col-md-8 col-lg-6'>   
                    <ul class="list-group"> 
                              <li class="list-group-item"> Люблю поспать(а кто нет) </li>
                              <li class="list-group-item"> Люблю историю </li>
                              <li class="list-group-item"> Frostpunk лучшая игра!! </li>
                              <li class="list-group-item"> Работать и только рабоать </li>
                    </ul>
{% endblock %}