{%extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1> Всем здраствуйте! Я являюсь автором проекта(если что я не несу никакой отвественности) </h1>
<p> 
          Я делал проект при помощи django. Использовались языки програмирования как Html и python
</p>
<div class ='rom justify-content-center'>
<div class ='col-md-8 col-lg-6'>   
          <div class = 'table-responsive'> 
                    <table class="table table-bordered table-responsive"> 
                              <thead class="table-dark"> 
                                        <tr> 
                                                  <th>Что далось легко </th>
                                                  <th> Что далось сложно </th>
                                        </tr>
                              </thead>
                              <tbody> 
                                        <tr> 
                                                  <td>Работа с git </td>
                                                  <td> Разобратбся в структуре проекта  </td>

                                        </tr>
                                        
                                        <tr> 
                                                  <td>Запомнить основные html теги </td>
                                                  <td> разбораться во view функциях </td>

                                        </tr>
                                        
                                        <tr> 
                                                  <td> Управлением основным проектом </td>
                                                  <td> разобраться с urls </td>

                                        </tr>
                              </tbody>
                    </table>
          </div>
</div>
</div>
{% endblock %}