{% extends 'base.html'%}
{% block title%}Профиль {{ author.username }}{% endblock %}
{% block header %}Cтраница пользователя{{ author.username }}{% endblock %}
{% block content %}
<main class="container"> 
          <p>{{ group.description|linebreaks }}</p>
          {% for post in page_obj %}
          <h3> 
                    Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }} 
          </h3>
          <p>{{ post.text|linebreaksbr }}</p>
          {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
          {% if page_obj.has_other_pages %}
                    {% include "includes/paginator.html" with items=page_obj paginator=paginator %}
          {% endif %}

</main>
{% endblock %}
                                                  
